.widgets{
      display: flex;
      padding: 20px;
      gap: 20px;
}

.admin-table{
    width: auto;
    padding-top: 20px;
    padding-left: 50px;
}

.content{
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    
}

.sidebar{
    width: 200px;
}

.app{
    display: flex;
    flex-direction: column;}