@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	/* Colors */
	--clr-primary-400: 4 90% 58%;
	--clr-primary-200: 4 90% 50%;

	--clr-neutral-900: 220 13% 13%;
	--clr-neutral-700: 219 9% 45%;
	--clr-neutral-400: 220 14% 75%;
	--clr-neutral-100: 223 64% 98%;

	--clr-white: 0 0% 100%;
	--clr-black: 0 0% 0%;

	/* Font-family */
	--ff-primary: 'Kumbh Sans', sans-serif;

	/* Font size */
	--fs-800: 2.75rem;
	--fs-700: 1.75rem;
	--fs-400: 1rem;
	--fs-300: 0.9375rem;
	--fs-100: 0.8125rem;

	/* Font-weight */
	--fw-400: 400;
	--fw-700: 700;
}

@media (max-width: 64em) {
	:root {
		--fs-800: 2rem;
		--fs-400: 0.9375rem;
	}
}

@media (max-width: 37.5em) {
	:root {
		--fs-800: 1.7rem;
		--fs-300: 1.125rem;
		--fs-100: 0.75rem;
	}
}

/* 
----------------------------------------- 
--------------- Reset CSS --------------- 
----------------------------------------- 
*/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	position: relative;
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	background-color: hsl(var(--clr-white));
}

/* Utility Classes */
.container-lg {
	width: min(100% - 3rem, 1110px);
	margin-inline: auto;
}

.container-md {
	width: min(100%, 1015px);
	margin-inline: auto;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flow > * + * {
	margin-top: var(--mt, 1.5rem);
}

.clr-primary-400 {
	color: hsl(var(--clr-primary-400));
}

.clr-neutral-900 {
	color: hsl(var(--clr-neutral-900));
}

.clr-neutral-700 {
	color: hsl(var(--clr-neutral-700));
}

.clr-neutral-400 {
	color: hsl(var(--clr-neutral-400));
}

.fs-800 {
	font-size: var(--fs-800);
}

.fs-700 {
	font-size: var(--fs-700);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-100 {
	font-size: var(--fs-100);
}

.fw-400 {
	font-weight: var(--fw-400);
}

.fw-700 {
	font-weight: var(--fw-700);
}

.text-uppercase {
	text-transform: uppercase;
}

.text-line-through {
	text-decoration: line-through;
}

.line-height-500 {
	line-height: 1.625;
}

.line-height-300 {
	line-height: 1.1;
}

.letter-spacing-1 {
	letter-spacing: 2.73px;
}

.m-auto {
	margin: auto;
}

.d-inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
}

/* 
----------------------------------------- 
-------------- Navbar CSS --------------- 
----------------------------------------- 
*/
.primary-header {
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding-block: 2rem;
	border-bottom: 1px solid hsl(var(--clr-neutral-400));
}

.menu-icon {
	display: none;
}

.navbar-container {
	align-items: center;
	--gap: 2rem;
}

.navbar a {
	font-size: var(--fs-300);
	text-decoration: none;
	color: hsl(var(--clr-neutral-700));
	padding-bottom: 3rem;
}

.navbar a:hover,
.navbar a:focus {
	color: hsl(var(--clr-black));
	border-bottom: 4px solid hsl(var(--clr-primary-400));
}

.icon-container {
	align-items: center;
	--gap: 2rem;
}

.icon-cart {
	cursor: pointer;
}

.cart-basket {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	position: absolute;
	top: -6px;
	right: -5px;
	width: 15px;
	height: 15px;
	color: #fff;
	background-color: hsl(var(--clr-primary-400));
	border-radius: 50%;
}

.icon-cart:hover path,
.icon-cart:focus path {
	fill: hsl(var(--clr-black));
}

.avatar {
	cursor: pointer;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.avatar:hover,
.avatar:focus {
	border: 2px solid hsl(var(--clr-primary-400));
}

/* Navbar Media Queries */
@media (max-width: 48em) {
	.navbar-container {
		--gap: 1rem;
	}

	.logo {
		margin-left: 2rem;
	}

	.menu-icon {
		display: block;
		position: absolute;
		z-index: 2000;
		left: 0.25rem;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		background-image: url('../images/icon-menu.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 1rem;
		aspect-ratio: 1;
		border: 0;
	}

	.menu-icon[aria-expanded='true'] {
		background-image: url('../images/icon-close.svg');
	}

	.navbar {
		position: fixed;
		z-index: 1000;
		inset: 0 30% 0 0;
		list-style: none;
		padding: min(20rem, 20vh) 2rem;
		background-color: #fff;
		margin: 0;
		flex-direction: column;
		transform: translateX(-200%);
		transition: transform 500ms ease-in-out;
	}

	.navbar[data-visible='true'] {
		transform: translateX(0);
	}

	.navbar-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		background-color: hsl(var(--clr-black) / 0.75);
	}

	.navbar a {
		padding: 0;
	}
}

@media (max-width: 37.5em) {
	.avatar {
		width: 24px;
	}

	.icon-container {
		--gap: 1rem;
	}
}

/* 
----------------------------------------- 
--------------- Cart CSS ---------------- 
----------------------------------------- 
*/
.cart {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: -10%;
	top: 85%;
	width: 360px;
	height: 256px;
	min-height: 256px;
	background-color: hsl(var(--clr-white));
	border-radius: 0.5rem;
	box-shadow: 1px 10px 15px 5px hsl(var(--clr-black) / 0.5);
}

.cart__heading {
	padding: 1.5rem;
	border-bottom: 2px solid hsl(var(--clr-neutral-100));
}

.cart__items {
	flex: 1;
	grid-template-columns: 1fr;
	padding: 1.5rem;
}

.cart__item {
	flex-direction: column;
	--gap: 2rem;
}

.item {
	align-items: center;
	height: 50px;
	--gap: 1rem;
}

.item > img:first-child {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 0.25rem;
}

.item > img:last-child {
	cursor: pointer;
}

@media (max-width: 64em) {
	.cart {
		right: -2%;
		z-index: 100;
	}
}

@media (max-width: 37.5em) {
	.cart {
		top: 120%;
		right: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

/* 
----------------------------------------- 
------------- Product CSS --------------- 
----------------------------------------- 
*/

.product {
	margin-top: 5.625rem;
}

.product-container {
	grid-template-columns: repeat(2, 1fr);
	--gap: 7.8125rem;
}

/* 
----------------------------------------- 
------------- Product Image ------------- 
----------------------------------------- 
*/

.product-image {
	flex-direction: column;
	--gap: 2rem;
}

.product-image img {
	cursor: pointer;
	border-radius: 0.5rem;
}

.thumbnail-wrapper {
	align-items: center;
	--gap: 2rem;
}

.thumbnail {
	border-radius: 0.5rem;
	background-color: hsl(var(--clr-white));
}

.thumbnail > img {
	cursor: pointer;
	width: 88px;
	aspect-ratio: 1;
}

.thumbnail > img:hover,
.thumbnail > img:focus {
	filter: opacity(0.5);
}

.thumbnail .active {
	filter: opacity(0.35);
	border: 1px solid hsl(var(--clr-primary-400));
}

/* 
----------------------------------------- 
--------- Product Description ----------- 
----------------------------------------- 
*/

.product-description {
	padding-block: 3.875rem;
	--mt: 1.5rem;
}

.discounted-price {
	align-items: center;
	margin-bottom: 0.5rem;
	--gap: 1rem;
}

.offer {
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	background-color: hsl(var(--clr-primary-400) / 0.25);
}

.action-wrapper {
	align-items: center;
	--gap: 1rem;
}

.product-quantity {
	--gap: 3.5rem;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: hsl(var(--clr-neutral-100));
}

.product-quantity > img:hover,
.product-quantity > img:focus {
	cursor: pointer;
	filter: opacity(0.5);
}

.btn {
	flex: 1;
	align-items: center;
	justify-content: center;
	--gap: 0.5rem;
	cursor: pointer;
	padding: 1rem;
	border: none;
	border-radius: 0.75rem;
	background-color: hsl(var(--clr-primary-400));
	color: hsl(var(--clr-white));
	box-shadow: 0 10px 10px 1px hsl(var(--clr-primary-400) / 0.5);
}

.btn:hover,
.btn:focus {
	background-color: hsl(var(--clr-primary-400) / 0.5);
}

/* Product Media Queries */
@media (max-width: 64em) {
	/* Product */
	.product {
		margin-top: 3rem;
	}

	.product-container {
		padding-inline: 2rem;
		--gap: 2rem;
	}

	.thumbnail-wrapper {
		justify-content: center;
	}

	.product-description {
		padding-block: 2rem;
	}

	.action-wrapper {
		flex-direction: column;
		align-items: stretch;
	}

	.product-quantity {
		justify-content: center;
	}
}

@media (max-width: 48em) {
	.product {
		margin-top: 0;
	}

	.product-container {
		grid-template-columns: 1fr;
		padding: 0;
	}

	.product-image {
		position: relative;
	}

	.product-image img {
		cursor: none;
		border-radius: 0;
	}

	.product-image .lightbox-control {
		width: 40px;
		aspect-ratio: 1;
	}

	.product-image .control-prev {
		top: 50%;
		left: 5%;
	}

	.product-image .control-next {
		top: 50%;
		right: 5%;
	}

	.thumbnail-wrapper {
		display: none;
	}

	.product-description {
		padding-inline: 1.5rem;
	}

	.product-price {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

/* 
----------------------------------------- 
--------------- Lightbox ---------------- 
----------------------------------------- 
*/

.lightbox-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	background-color: hsl(var(--clr-black) / 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
}

.lightbox {
	position: relative;
	width: 550px;
	aspect-ratio: 1;
	flex-direction: column;
	--gap: 1.5rem;
}

.lightbox img {
	border-radius: 0.5rem;
}

.close-icon {
	cursor: pointer;
	align-self: end;
}

.close-icon:hover path {
	fill: hsl(var(--clr-primary-400));
}

.lightbox .thumbnail-wrapper {
	align-self: center;
}

.lightbox-control {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
}

.lightbox-control:hover svg path,
.lightbox-control:focus svg path {
	stroke: hsl(var(--clr-primary-400));
}

.control-prev {
	top: 45%;
	left: -5%;
	transform: translateY(-45%);
}

.control-next {
	top: 45%;
	right: -5%;
	transform: translateY(-45%);
}
